<div><div ><div ><section id="text-3" ><div ><h4>SHRI GANESH PROPERITES LLC</h4>
			<div ><div > We are a family-owned business with the vision to be the one stop shop for our clients properities needs.</div>
</div>
		</div></section>
<div><section id="text-5" ><div ><h4>Address</h4>
			<div ><div ></div>
<div >6 Elegante Dr, <br>Edison, NJ 08820<br></div>
<div ></div>
<div >Phone: (732) 381-7678 
<br> Phone: (877) 282-7742 <br>        Fax: (213) 683-0888<br></div>

</div>
		</div></section>
</div></div></div>