<div class="container">
	<h1>Contact Details</h1>
	<div class="row">
		<div class="col-md-8" style="height:400px;" >

			<div>
				<!-- <SECTION class="homeSection"> -->
					<div class="contact-left-contact">
						<h4 class="cont-link">For Inquires:</h4>
						<p>
							<strong> Paras Shah </strong> – Director of Operations (<a
								href="mailto:pshah@shriganesh.com" class="cont-link">
								pshah@shriganesh.com </a>)<br> <strong> Jayesh Shah </strong>
							– Vice President (<a href="mailto:jshah@shriganesh.com"
								class="cont-link"> jshah@shriganesh.com </a>)
						</p>
						<p></p>
						<h4 class="cont-link">Shipping &amp; Admin:</h4>
						<p>
							<strong> Bhavna Shah </strong>(<a
								href="mailto:bshah@shriganesh.com" class="cont-link">
								bshah@shriganesh.com </a>)
						</p>
						<p></p>
						<h4 class="cont-link">Accounting &amp; Admin:</h4>
						<p>
							<strong> Meghal Shah </strong> (<a
								href="mailto:mshah@shriganesh.com" class="cont-link">
							mshah@shriganesh.com </a>)
						</p>
					</div>
				<!-- </SECTION> -->
			</div>
		</div>
		<div class="col-md-4">

			<div>
				<h4>Address</h4>
				<div>
					<div></div>
					<div>
						6 Elegante Dr, <br>Edison, NJ 08820<br>
					</div>
					<div></div>
					<div>
						Phone: (732) 381-7678 <br>
						Fax: (732) 381-7679<br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div>
				<<SECTION class="homeSection"> </section>
			</div> -->
	<div class="row">
			<div class="col-md-12">
				<section id="text-3">
					<div>
						<h4>SHRI GANESH PROPERITES LLC</h4>
						<div>
							<div>We are a family-owned business with the vision to be
						the one stop shop for our clients properities needs.</div>
						</div>
					</div>
				</section>
			</div>
		</div>	
</div>

























<!-- <div class="container">
	<div>
		<div class="row">
			<div class="col-md-8">
				<div>
					<SECTION class="homeSection"> this is section</SECTION> 
				</div>
			<div>
			<div class="col-md-4">
				<div>
					 <section id="text-5"> -->
<!-- <div>
							<h4>Address</h4>
							<div>
								<div></div>
								<div>
									6 Elegante Dr, <br>Edison, NJ 08820<br>
								</div>
								<div></div>
								<div>
									Phone: (732) 381-7678 <br> Phone: (877) 282-7742 <br>
									Fax: (213) 683-0888<br>
								</div>
							</div>
						</div> -->
<!-- 	</section> -->
<!-- </div>
			</div>
		</div> -->
<!-- <div class="row">
			<div class="col-md-12">
				<section id="text-3">
					<div>
						<h4>SHRI GANESH PROPERITES LLC</h4>
						<div>
							<div>We are a family-owned business with the vision to be
						the one stop shop for our clients properities needs.</div>
						</div>
					</div>
				</section>
			</div>
		</div>	 -->
<!-- </div>
</div> -->